@model SearchViewModel
@{
    ViewBag.Title = "UPC Movie Finder";
}

<form asp-action="Index" asp-controller="Search" class="form-horizontal">
    <div class="row">
        <div class="form-group col-sm-6">
            <label asp-for="UpcId" class="control-label"></label>
            <input asp-for="UpcId" class="form-control" placeholder="Required"/><span asp-validation-for="UpcId" class="text-warning"></span>
        </div>
    </div>

    <div class="row">
        <input type="submit" class="btn btn-default"/>
    </div>
</form>
