@model SearchViewModel
@{
    ViewBag.Title = "Doppler";
    ViewBag.Tagline = "UPC Movie Search";
}

<div class="row jumbotron">
    <div class="col-md-12">
        <h1>@ViewBag.Title</h1>
        <h2>@ViewBag.Tagline</h2>
    </div>
</div>

<div class="container">
    <div class="row">
        <form asp-action="Index" asp-controller="Home" class="form-horizontal">
            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="UpcId" class="control-label"></label>
                    <input asp-for="UpcId" class="form-control" placeholder="Required"/>
                    <span asp-validation-for="UpcId" class="text-warning"></span>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default"/>
                </div>
            </div>
        </form>
    </div>
</div>
