@model ResultViewModel

@{
    ViewBag.Title = "Movie Results";
}

<div class="row">
    <div class="col-md-6">
        <h2>
            @Model.Title
        </h2>
        <h3>
            @Model.Year
        </h3>
    </div>
</div>